@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.fi-user-entry {
  @apply flex items-center;
}
.fi-user-entry.fi-size-xs {
  @apply gap-2 p-1;
}
.fi-user-entry.fi-size-sm {
  @apply gap-2.5 p-2.5;
}
.fi-user-entry.fi-size-md {
  @apply gap-3.5 p-3.5;
}
.fi-user-entry.fi-size-lg {
  @apply gap-4 p-4;
}
.fi-user-entry.fi-size-xl {
  @apply gap-4 p-4;
}

.fi-user-entry-active-state {
  @apply absolute -top-1.5 -right-2 bg-white dark:bg-gray-800 rounded-full;
}
.fi-user-entry-active-state.fi-size-xs svg {
  @apply size-5;
}
.fi-user-entry-active-state.fi-size-sm svg {
  @apply size-5;
}
.fi-user-entry-active-state.fi-size-md svg {
  @apply size-6;
}
.fi-user-entry-active-state.fi-size-lg svg {
  @apply size-6;
}
.fi-user-entry-active-state.fi-size-xl svg {
  @apply size-7;
}

.fi-user-entry-avatar {
  @apply rounded-full;
}
.fi-user-entry-avatar.fi-size-xs {
  @apply size-9;
  @apply min-w-9;
}
.fi-user-entry-avatar.fi-size-sm {
  @apply size-10;
  @apply min-w-10;
}
.fi-user-entry-avatar.fi-size-md {
  @apply size-11;
  @apply min-w-11;
}
.fi-user-entry-avatar.fi-size-lg {
  @apply size-12;
  @apply min-w-12;
}
.fi-user-entry-avatar.fi-size-xl {
  @apply size-14;
  @apply min-w-14;
}

.fi-user-entry-default-avatar {
  @apply rounded-full bg-gray-200 text-gray-800 flex items-center justify-center dark:bg-gray-400 dark:text-white;
}
.fi-user-entry-default-avatar svg {
  @apply max-w-full max-h-full;
}

.fi-user-entry-default-avatar.fi-size-xs {
  @apply size-9;
  @apply min-w-9;
}
.fi-user-entry-default-avatar.fi-size-xs svg {
  @apply size-6;
  @apply min-w-6;
}
.fi-user-entry-default-avatar.fi-size-sm {
  @apply size-10;
  @apply min-w-10;
}
.fi-user-entry-default-avatar.fi-size-sm svg {
  @apply size-7;
  @apply min-w-7;
}
.fi-user-entry-default-avatar.fi-size-md {
  @apply size-11;
  @apply min-w-11;
}
.fi-user-entry-default-avatar.fi-size-md svg {
  @apply size-7.5;
  @apply min-w-7.5;
}
.fi-user-entry-default-avatar.fi-size-lg {
  @apply size-12;
  @apply min-w-12;
}
.fi-user-entry-default-avatar.fi-size-lg svg {
  @apply size-8;
  @apply min-w-8;
}
.fi-user-entry-default-avatar.fi-size-xl {
  @apply size-14;
  @apply min-w-14;
}
.fi-user-entry-default-avatar.fi-size-xl svg {
  @apply size-8.5;
  @apply min-w-8.5;
}

.fi-user-entry-content {
  @apply grow;
}

.fi-user-entry-content-heading.fi-size-xs {
  @apply text-xs;
}
.fi-user-entry-content-heading.fi-size-sm {
  @apply text-sm;
}
.fi-user-entry-content-heading.fi-size-md {
  @apply text-base;
}
.fi-user-entry-content-heading.fi-size-lg {
  @apply text-lg;
}
.fi-user-entry-content-heading.fi-size-xl {
  @apply text-xl;
}

.fi-user-entry-content-description {
  @apply wrap-break-word text-gray-600 dark:text-gray-300;
}
.fi-user-entry-content-description.fi-size-xs {
  @apply text-[0.625rem];
}
.fi-user-entry-content-description.fi-size-sm {
  @apply text-xs;
}
.fi-user-entry-content-description.fi-size-md {
  @apply text-sm;
}
.fi-user-entry-content-description.fi-size-lg {
  @apply text-base;
}
.fi-user-entry-content-description.fi-size-xl {
  @apply text-lg;
}
